#add_status
  = form_for(status, :remote => true) do |f|
    - Status.list.each do |status|
      = f.submit status
    = f.text_field :entry, :placeholder => "What's your status?", :autofocus => true
    = f.submit 'Submit'
